#autoconf
*.cache

#vim
*.swp
*.swo

#objects
*.o
*.lo
target

#libatx
*.txt
*.json

#cscope
**/*cscope.files
**/*cscope.out
**/*cscope.sh

#latex
output/doc/*

*.bin
/autoscan.log
config.log
config.status
**/*vgcore*
